/* ALL THIS CODE IS RETURN BY VAIBHAV SHARMA "NO COPIED CODE :)" */

body {
  background-color: palevioletred;
}
.container {
  display: grid;
  place-items: center;
  color: rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#Input1 {
  width: 50%;
  height: 5vh;
  border-radius: 10vw;
  text-align: center;
  background-color: gold;
  font-size: 2.5vw;
  border-top: 2px solid ORANGE;
  border-left: 2px solid ORANGE;
  border-right: 2px solid ORANGE;
  border-bottom: 2px solid orange;
}
#S-btn {
  width: 20vw;
  height: 10vh;
  border-radius: 2vw;
  background-color: blueviolet;
  color: white;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  font-size: large;
}
h1 {
  text-align: center;
}
